.cta {
  margin-top: 2em;
}

.cta {
  background-color: #140e00;
  color: #fff;
  text-align: center;
  padding: 80px 0px 40px;
  margin-top: 2em;
  width: 100%;
  padding: 20px 10%;
  height: auto;
  text-align: center;
  background-color: #e68000;
}

.cta h2 {
  margin-top: 1rem;
  font-size: 60px;
  margin-bottom: 20px;
  color: #ffffff;
  font-weight: bolder;
  background-color: #e68000;
}
.cta p {
  color: #ffffff;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}

.cta button {
  background-color: #fbaf00;
  border: none;
  background: rgb(251, 175, 0);
  color: rgb(255, 255, 255);
  height: 56px;
  width: 204px;
  font-family: Regular;
  font-size: 16px;
  transition: all 0.2s ease-in-out 0s;
  cursor: pointer;
}

.cta button:hover {
  background-color: rgb(224, 157, 0);
  color: rgb(255, 255, 255);
}
